<wm-page name="mainpage" pagetitle="Main">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-page-content columnwidth="12" name="mainContent" padding="unset 15px">
            <wm-composite name="composite2">
                <wm-label class="col-md-3 control-label" name="label2"></wm-label>
                <wm-container class="col-md-9" name="container2">
                    <wm-text name="text1"></wm-text>
                </wm-container>
            </wm-composite>
            <wm-composite name="composite3">
                <wm-label class="col-md-3 control-label" name="label3"></wm-label>
                <wm-container class="col-md-9" name="container3">
                    <wm-text name="text2"></wm-text>
                </wm-container>
            </wm-composite>
        </wm-page-content>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>